<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\mfakr\OneDrive\Documents\NetBeansProjects\Library-Assistant-master\dist\Library Assistant.jar</jar>
  <outfile>C:\Users\mfakr\OneDrive\Documents\NetBeansProjects\Library-Assistant-master\dist\Library Assistant.exe</outfile>
  <errTitle>Please install java first</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\mfakr\OneDrive\Documents\NetBeansProjects\Library-Assistant-master\src\resources\icon.ico</icon>
  <singleInstance>
    <mutexName>LibraryAssistant</mutexName>
    <windowTitle>LibraryAssistant</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Library Management Software</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>LibraryAssistant</productName>
    <companyName></companyName>
    <internalName>LibraryAssistant</internalName>
    <originalFilename>LibraryAssistant.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>